:root {
    --primary-color: #053652;
    --accent-color: #ef800d;
    --text-white: #ffffff;
    --text-dark: #053652;
    --menu-text-size: 14px;
    --font-family: "Montserrat", sans-serif;
    --font-family-accent: "OpenSans", sans-serif;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    margin: 0 auto;
}

.header_top-bar {
    display: grid;
    grid-template-columns: 65% 1fr;
    align-items: center;
    background-color: var(--primary-color);
    height: 52px;
}

.top-bar-left {
    max-width: 930px;
    padding: 0 30px 0 115px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1269px) {
    .top-bar-left {
        max-width: 100%;
        padding: 0 10px;
    }
}

@media (max-width: 1123px) {
    .top-bar-left {
        max-width: 100%;
        padding: 0 10px;
    }
}

.contact-info {
    display: flex;
    gap: 57px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-info_item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-info_icon {
    width: 14px;
    height: 18px;
}

.contact-info_capture {
    font-size: 14px;
    font-family: var(--font-family);
    color: var(--text-white);
    text-decoration: none;
    margin: 0;
    font-weight: 600;
}

.top-bar-right {
    background-color: var(--accent-color);
    padding: 14px 0;
    font-size: 14px;
    color: var(--text-white);
    text-align: center;
    font-weight: 600;
    font-family: var(--font-family);
    line-height: 1.7;
}

#select-lang {
    background-color: var(--primary-color);
    border: none;
    font-size: var(--menu-text-size);
    font-family: var(--font-family);
    color: var(--text-white);
    cursor: pointer;
    font-weight: 600;
}

.header_bottom-bar {
    display: flex;
    max-width: 1172px;
    margin: 0 auto;
    padding: 32px 0;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 160px;
    height: auto;
}

.nav-list {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 44px;
    align-items: center;
}

.nav-link {
    font-size: var(--menu-text-size);
    font-family: var(--font-family);
    color: var(--text-dark);
    font-weight: 700;
    text-decoration: none;     
}

.nav-link:hover {
    color: var(--accent-color);
}

.nav-link_active {
    color: var(--accent-color);
}

.search-button {
    width: 33px;
    height: 33px;
    background-color: var(--primary-color);
    background-image: url('./icons/search.svg');
    background-size: 12px;
    background-repeat: no-repeat;
    border: none;
    background-position: center;
    cursor: pointer;
}

.search-button:hover {
    background-color: var(--accent-color);
}

.services-slider {
    max-width: 100%;
    margin: 0 auto;
    background-image: url(./img/background.png);
    padding: 194px 0 53px;
}

.slider-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.slider-title {
    font-size: 48px;
    font-family: var(--font-family);
    color: var(--text-dark);
    font-weight: 700;
    margin: 0;
}

.slider-descr {
    font-size: 18px;
    font-family: var(--font-family);
    color: rgb(51, 51, 51);
    padding: 28px 0 45px;
    margin: 0;
    max-width: 590px;
}

.button-learn-more {
    width: 200px;
    height: 55px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 145px;
}

.learn-more-text {
    width: 75%;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-white);
    font-weight: 700;
}

.learn-more-arrow {
    width: 55px;
    height: 55px;
    background-color: var(--accent-color);
    align-content: center;
    padding-top: 5px;
    box-sizing: border-box;
}

.slider-nav-buttons {
    max-width: 1172px;
    display: flex;
    gap: 8px;
    justify-content: end;
}

.slider-nav-button {
    width: 33px;
    height: 33px;
    background-color: var(--primary-color);
    border: none;
    padding: 2px 0 0;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
}

.slider-nav-button:first-of-type {
    background-color: transparent;
    transform: rotate(180deg);
}

.slider-nav-button:first-of-type svg path {
    stroke: var(--primary-color);
}

.about-us {
    box-sizing: border-box;
    padding: 105px 0 0;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.about-us-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 150px;
    padding-bottom: 120px;
}

.section-line {
    width: 60px;
    height: 3px;
    background: var(--primary-color);
    margin-left: 115px;
}

.about-us-descr {
    max-width: 650px;
}

.block-subtitle {
    font-size: 14px;
    font-family: var(--font-family);
    color: rgb(51, 51, 51);
    margin: 0;
    font-weight: 500;
}

.block-subtitle_light {
    color: rgb(255, 255, 255);
}

.block-title {
    font-size: 40px;
    font-family: var(--font-family);
    color: var(--text-dark);
    font-weight: 700;
    margin: 0;
    margin: 4px 0 17px 0;
}

.block-title_light {
    color: rgb(255, 255, 255);
}

.block-title_small {
    font-size: 20px;
    font-weight: bold;   
}

.line {
    width: 60px;
    border: 3px solid var(--accent-color);
}

.about-us-text {
    font-size: 14px;
    font-family: var(--font-family);
    color: rgb(51, 51, 51);
    margin: 35px 0 50px;
}

.read-more {
    font-size: 14px;
    font-family: var(--font-family);
    color: var(--text-dark);
    font-weight: 700;
    text-decoration: none;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-self: end;
}

.progress-indicator {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 14px;
    font-family: "Montserrat";
    color: var(--text-dark);
    font-weight: bold; 
}

.progress-line {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 370px;
    height: 11px;
    background-color: orange;
}

.progress-container {
    width: 370px;
    height: 11px;
    background: var(--primary-color);
}

.progress-line {
    height: 100%;
    background: var(--accent-color);
    width: 85%;
}

.progress-title-container {
    display: flex;
    justify-content: space-between;
}

.our-services {
    display: flex;
    gap: 68px;
    margin: 105px auto 120px;
    max-width: 1170px;
    align-items: center;
}

.services-picture {
    width: 370px;
    height: 460px;
    border: 8px solid var(--accent-color);
    background-color: var(--primary-color);
    align-content: center;
    box-sizing: border-box;
}

.services-picture-descr {
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--text-white);
    font-weight: 600;
    text-align: center;
}

.services-wrapper {
    align-self: start;
}

.services-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    padding-top: 44px;
}

.services-card {
    border: 1px solid #ededed;
    display: flex;
    gap: 33px;
    padding: 25px 60px 25px 30px;
    width: 350px;
    height: 140px;
    box-sizing: border-box;
    align-items: center;
}

.services-card:hover {
    border-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.card-title {
    margin: 0 0 14px 0;
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-dark);
    font-weight: 700;    
}

.card-description {
    margin: 0;
    font-size: 12px;
    font-family: var(--font-family);
    color: rgb(102, 102, 102);  
}

.card-icon {
    width: 36px;
    height: 38px;
}

.need-help {
    background-color: var(--primary-color);
    margin: 0;
}

.need-help-content {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.need-help-text {
    font-family: var(--font-family);
    color: var(--text-white);
    font-weight: 700;
}

.need-help-accent {
    color: var(--accent-color);
}

.help-button {
    width: 195px;
    height: 55px;
    background-color: var(--accent-color);
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-white);
    font-weight: 700;    
    border: none;
}

.experts {
    border-bottom: 1px solid rgb(227, 227, 227);
}

.experts-wrapper {
    max-width: 1170px;
    margin: 105px auto 120px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-see-more {
    border: 1px solid #E3E3E3;
    background: transparent;
    width: 135px;
    height: 40px; 
    font-size: 14px;
    font-family: var(--font-family);
    color: rgb(182, 182, 182);
    font-weight: 700;   
}

.button-block-main {
    padding: 0;
    align-self: center;
    margin: 0;
}

.advisors-cards {
    padding: 65px 0 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.advisors-card {
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.advisors-card_open {
    position: absolute;
    background-color: var(--primary-color);
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 35px 0;
}

.advisors-card-open {
    background-color: var(--primary-color);
}

.advisor-img {
    max-width: 100%;
    height: 255px;
}

.advisor-desr {
    background-color: var(--primary-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 75px;
    justify-content: center;
}

.advisor-name {
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-white);
    font-weight: 700; 
    margin: 0;
}

.advisor-position {
    margin: 0;
    font-size: 12px;
    font-family: var(--font-family-accent);
    color: var(--text-white);
}

.advisor-text {
    display: block;
    font-size: 13px;
    font-family: var(--font-family-accent);
    color: var(--text-white);
    margin: 0 auto;
    max-width: 210px;
    text-align: center;
}

.social-icons {
    display: flex;
    gap: 7px;
    justify-content: center;
}

.social-icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
}

.social-icon:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.social-logo {
    max-width: 15px;
    margin: auto;
}

.review {
    max-width: 1170px;
    margin: 0 auto;
    padding: 105px 0 120px;
}

.review-cards {
    padding: 65px 0 0;
    display: flex;
    gap: 63px;
}

.review-card {
    display: flex;
    gap: 25px;
    max-width: 535px;
}

.review-img {
    width: 150px;
    height: 150px;
}

.review-descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-text {
    font-size: 14px;
    font-family: var(--font-family-accent);
    color: rgb(153, 153, 153);
    font-style: italic;
    margin: 0;
}

.review-author-name {
    font-size: 16px;
    font-family: var(--font-family);
    color: var(--text-dark);
    font-weight: 700;
    margin: 0 0 8px;
}

.review-author-company {
    font-size: 12px;
    font-family: var(--font-family-accent);
    color: rgb(153, 153, 153);
    font-weight: 700; 
    margin: 0;
}

.facts-about-us {
    background-color: var(--primary-color);
    padding: 120px 0;
    background-image: url(./img/WOMAN\ IMAGE.png);
    background-repeat: no-repeat;
    background-position: 95% 100%;
}

.facts-wrapper{
    max-width: 1170px;
    margin: 0 auto;
}

.facts-block {
    padding-top: 60px;
    display: flex;
    gap: 75px;
}

.fact-number {
    font-size: 46px;
    font-family: var(--font-family);
    color: var(--accent-color);
    font-weight: 700;
    margin: 0;
    padding-bottom: 5px;
}

.fact-descr {
    font-size: 16px;
    font-family: var(--font-family-accent);
    color: var(--text-white);    
    margin: 0;
}

.latest-news {
    border-bottom: 1px solid rgb(227, 227, 227);
}

.latest-news-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 105px 0 120px;
}

.news-block {
    padding-top: 70px;
    display: flex;
    gap: 29px;
}

.news-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.news-img {
    width: 270px;
    height: 195px;
}

.news-date {
    font-size: 12px;
    font-family: var(--font-family);
    color: rgb(51, 51, 51);  
    margin: 0;
}

.news-header {
    font-size: 18px;
    font-family: var(--font-family);
    color: var(--text-dark);
    font-weight: 700;  
    margin: 13px 0 0;  
}

.our-clients {
    margin: 0 auto;
}

.our-clients-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 105px;
}

.our-clients-block {
    margin-left: 115px;
    padding-top: 105px;
}

.clients-cards {
    padding-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 180px);
    gap: 16px;
}

.client-card {
    border: #E6E6E6 1px solid;
    box-sizing: border-box;
    padding: 15px 0;
}

.client-logo {
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 65px;
}

.consultation-block {
    padding: 105px 115px 120px 100px;
    background-color: var(--primary-color);
}

.consultation-form {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

.consultation-form-input {
    height: 50px;
    font-size: 14px;
    font-family: var(--font-family-accent);
    color: #538CC3;
    background-color: var(--primary-color);
    border: none;
    padding-left: 24px;
}

.form-select {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px;
    background-color: #0a4668;
    color: #538CC3;
    font-size: 14px;
    border: none;
    padding-left: 24px;
}

.contact-info-bottom {
    background-image: url(./img/MAP\ IMAGE.png);
    height: 100%;
    display: flex;
}

.contact-info-wrapper {
    max-width: 1170px;
    margin: 123px 0 132px 117px;
}

.contact-info-block {
    background-color: var(--primary-color);
    width: 400px;
    height: 305px;
    border: #ffffff solid 5px;
    box-sizing: border-box;
    padding: 42px 0 48px 46px;
}

.contact-elems {
    list-style: none;
    padding: 34px 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-elem {
    display: flex;
    gap: 14px;
}

.footer {
    background-color: var(--primary-color);
}

.footer-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    padding: 120px 0;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 224px;
}

.logo-footer {
    width: 160px;
    height: 30px;
}

.footer-text {
    margin: 0;
    font-size: 14px;
    font-family: var(--font-family-accent);
    color: var(--text-white);   
}

.footer-social-icons {
    display: flex;
    gap: 6px;
}

.footer-header {
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--text-white);
    font-weight: 700;
    margin: 0;
}

.footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.link {
    color: var(--text-white);
    text-decoration: none;
    font-size: 14px;
    font-family: var(--font-family-accent);
}

.link:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

.contact-us-wrapper {
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding-top: 50px;
}

.contact-us-elem {
    display: flex;
    gap: 30px;
}

.contact-us-title {
    font-size: 14px;
    font-family: var(--font-family-accent);
    color: var(--text-white);
    font-weight: 700;    
}

.contact-us-info {
    font-size: 14px;
    font-family: var(--font-family-accent);
    color: var(--text-white);
}

.footer-insta-img-wrapper {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.footer-insta-img {
    width: 83px;
    height: 83px;
}

.footer-copyright {
    background-color: #044163;
    display: flex;
    justify-content: space-between;
    padding: 27px 116px;
}

.copyright {
    font-size: 12px;
    font-family: var(--font-family);
    color: var(--text-white);    
}

.accent {
    color: var(--accent-color);
}
